@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        color:white;
        background-color: rgb(8, 8, 53);
    }

}
@layer componets{
    .menuLink{
        @apply cursor-pointer hover:text-[#c5c5c5]
    }
    .tags {
        background-color: #0f2c32; /* Default color */
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: #fff;
        font-size: 12px;
    }

    .tags:last-child {
        margin-right: 0;
    }

    /* If you want to add colors based on the index, use separate classes */
    .tag-0 {
        background-color: #0a1b1f;
    }
    .tag-1 {
        background-color: #a55eea;
    }
    .tag-2 {
        background-color: #5eea94;
    }
    .tag-3 {
        background-color: #ce1010;
    }
    .tag-4 {
        background-color: #065018;
    }
}
